<footer class="footer">
  <div class="footer__section">
    <div class="footer__container">
      <img class="footer__logo" [src]="image" alt="logo" />
      <address class="footer__contacts">
        <ul>
          <li class="footer__contact-item">
            <a class="footer__contact-link_tel" href="tel:+74959842513"
              >+7 (495) 984 25 13</a
            >
          </li>
          <li class="footer__contact-item">
            <a class="footer__contact-link_email" href="mailto:info@neoflex.ru"
              >info@neoflex.ru</a
            >
          </li>
        </ul>
      </address>
    </div>

    <ul class="footer__nav-list">
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">About bank</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Ask a Question</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Quality of service </a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Requisites</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Press center</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Bank career</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Investors</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Analytics</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Business and processes</a>
      </li>
      <li class="footer__nav-item">
        <a class="footer__nav-link" href="#!">Compliance and business ethics</a>
      </li>
    </ul>
    <p class="footer__info">
      We use cookies to personalize our services and improve the user experience
      of our website. Cookies are small files containing information about
      previous visits to a website. If you do not want to use cookies, please
      change your browser settings
    </p>
  </div>
</footer>
