<section class="promo">
  <div class="promo__content">
    <h2 class="promo__title">
      Choose the design you like and apply for card right now
    </h2>
    <button type="button" class="button">Choose the card</button>
  </div>
  <div class="promo__image-container">
    <img [src]="src1" alt="card image" class="promo__image" />
    <img [src]="src2" alt="card image" class="promo__image" />
    <img [src]="src3" alt="card image" class="promo__image" />
    <img [src]="src4" alt="card image" class="promo__image" />
  </div>
</section>
